*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-btn
{
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    position: fixed;
    right: 0;
    top: 2px;
    cursor: pointer;
}

.add-btn:active
{
    background-color: grey;
}

.main
{
    display: flex;
    flex-wrap: wrap;
}

.box
{
    width: 20%;
    margin-top: 50px;
    padding: 10px;
}

.upper
{
   
    display: flex;
    padding: 4px;
    justify-content: space-around;
    background-color: grey;
    width: 100%;
    
}

.padding
{
    padding: 5px;
}

.pointer
{
    cursor: pointer;
}


.upper img
{
    width: 30px;
}

.text
{
    
    width: 100%;
    resize: none;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}