* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.add-note {
    background-color: black;
    color: white;
    width: 100px;
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.add-note:active {
    background-color: grey;
}

.main
{
    display: flex;
    flex-wrap: wrap;
}

.box
{
    width: 25%;
    margin: 15px;
    margin-top: 50px;
    flex-basis: 20%;
}

.upper
{
    background-color: grey;
    padding: 5px;
    border-radius: 20px 20px 0px 0px;
}

.upper img {
    width: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.upper p
{
    text-align: center;
    margin-left: 5px;
    display: inline;
    cursor: pointer;
}

.bold
{
    font-weight: bold;
}

.italic
{
    font-style: italic;
}
.box textarea
{
    resize: none;
    width: 100%;
    border: none;
}