*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main
{
    display: flex;
    justify-content: center;
    
    background-color: skyblue;
    height: 100vh;
}

.box
{
    background-color: white;
    min-height: 40%;
    height: fit-content;
    border: 2px solid black;
    padding: 10px;
    margin-top: 40px;
    width: 50%;
    border-radius: 20px;
}
.first
{
    padding: 10px;
    width: 100%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

.down
{
    margin: 10px;
    list-style-type: none;
    color: rgb(241, 241, 241);
    background-color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position:relative;
}

.cross
{
    position: absolute;
    top: 2px;
    right: 5px;
    cursor: pointer;
    
}

.click
{
    background-color: grey;
    text-decoration: line-through;
    color: black;
}